{% extends 'base.html' %}

{% block content %}
  <div class="row mt-3">
    <div class="col-md-8 section-wrapper">
      <center>
        <div class="section-header">
          Semester
        </div>
        <div class="section-body">
          {% include 'components/searchbar.html' %}
          {% for semester in list_semester %}
            <div class="card mt-3 bg-primary">
              <div class="card-body">
                <h5 class="card-title left center mt-2">
                  {{semester.nama}}
                </h5>
                <div class="row right" style="margin-right: -3rem;">
                  <div class="col-1">
                    <a href="{% url 'hapus-semester' semester.pk %}" class="btn main-btn right" style="margin-right: -0.8rem;"><ion-icon name="trash"></ion-icon></a>
                  </div>
                  <div class="col-10" style="width: 12rem;">
                    {% if semester.is_active == True %}
                      <a href="#" class="btn green-btn disabled w-100">Semester Aktif</a>
                    {% else %}
                      <a href="{% url 'aktifkan-semester' semester.pk %}" class="btn main-btn w-100">Aktifkan Semester</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {% include 'components/pagination.html' with extra_param='search' extra_value=request.GET.search %}
        </div>
      </center>
    </div>

    <div class="col-md-3 section-wrapper">
      <center>
        <div class="section-header">
          Buat Semester
        </div>
        <div class="section-body">
          {% include 'components/form.html' with form=create_form submit_button='Buat' action='buat/' %}
        </div>
      </center>
    </div>
  </div>
{% endblock content %}