{% extends 'base.html' %}

{% block content %}
    {% include 'components/breadcrumb.html' %}
    <div class="container-fluid mg-b-30">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a>Buat Kelas</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit">
                        <div class="product-tab-list tab-pane fade active in">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-15">
                                    {% url 'buat-kelas' as buat_kelas %}
                                    {% include 'components/form-compact.html' with form=kelas_form action=buat_kelas submit_text="Buat" col="one" label=True %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}