{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="section-wrapper col-md">
            <center>
                <div class="section-header">
                    Detail {{kelas.nama}}
                </div>
            </center>
            <div class="row mt-5 flex-center">
                <div class="section-wrapper col-md-3 col-11">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Profil Kelas
                        </div>
                    </center>
                    <ul class="list-unstyled section-body">
                        <li>
                            <div class="small text-primary">Tingkat</div>
                            {{kelas.tingkat}}
                        </li>
                        <li>
                            <div class="small text-primary">jurusan</div>
                            {{kelas.jurusan}}
                        </li>
                        <li>
                            <div class="small text-primary">Kelas</div>
                            {{kelas.kelas}}
                        </li>
                        <li>
                            <div class="small text-primary">Semester</div>
                            {{kelas.semester}}
                        </li>
                    </ul>
                </div>

                <div class="section-wrapper col-md-3 col-11">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Walikelas
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data walikelas"></ion-icon>
                    </button>
                    <div class="section-body">
                        <center class="mb-3">{{kelas.walikelas}}</center>
                        <a href="{% url 'walikelas-kelas' kelas.nama %}" class="btn main-btn right">Ubah</a>
                        {% if kelas.walikelas %}
                        <a href="{% url 'profil-guru-lain' kelas.walikelas.nip %}" class="btn main-btn">Detail Walikelas</a>
                        {% endif %}
                    </div>
                </div>

                <div class="section-wrapper col-md-3 col-11">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Daftar Matapelajaran
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data matapelajaran"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        {% for matapelajaran in list_matapelajaran %}
                            <li>
                                <div class="text-primary small">{{matapelajaran.nama}}</div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'pelajaran-kelas' kelas.nama %}" class="btn main-btn right">Ubah</a>
                </div>

                <div class="section-wrapper col-md-7 col-11">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Daftar Siswa
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data siswa"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled three-columns">
                        {% for siswa in list_siswa %}
                            <li>
                                <div class="text-primary small">{{siswa.nama}}</div>
                                <h5 class="small">{{siswa.nis}}/{{siswa.nisn}}</h5>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'anggota-kelas' kelas.nama %}" class="btn main-btn right">Ubah</a>
                </div>
            </div>
        </div>
    </div>

    {% if auth_walikelas %}
        <div class="row mt-3">
            <div class="col-md section-wrapper">
                <center>
                    <div class="section-header">
                        Rapor Siswa
                    </div>
                </center>
                <div class="section-body">
                    <div class="section-body">
                        <div class="table-responsive">
                            <table class="table table-hover bg-transparent">
                                <thead class="text-secondary">
                                    <tr class='column-name'>
                                        <td>NIS</td>
                                        <td>NISN</td>
                                        <td>Nama</td>
                                        <td class="d-none d-md-table-cell">Email</td>
                                        <td class="d-none d-md-table-cell">Tempat/Tanggal Lahir</td>
                                        <td class="d-none d-md-table-cell">Jenis Kelamin</td>
                                        <td class="d-none d-md-table-cell">Agama</td>
                                        <td>Unduh</td>
                                        <td>Pratinjau</td>
                                    </tr>
                                </thead>
                                <tbody class="text-primary">
                                    {% for siswa in list_siswa %}
                                        <tr data-href="{% url 'detail-siswa' siswa.nis %}">
                                            <td>{{siswa.nis}}</td>
                                            <td>{{siswa.nisn}}</td>
                                            <td>{{siswa.nama}}</td>
                                            <td class="d-none d-md-table-cell">{{siswa.email}}</td>
                                            <td class="d-none d-md-table-cell">{{siswa.tempat_lahir}}/{{siswa.tanggal_lahir|date:'d-m-Y'}}</td>
                                            {% if siswa.gender == 'P' %}
                                                <td class="d-none d-md-table-cell">Pria</td>
                                            {% else %}
                                                <td class="d-none d-md-table-cell">Wanita</td>
                                            {% endif %}                                            
                                            <td class="d-none d-md-table-cell">{{siswa.agama}}</td>
                                            <td><a href="{% url 'rapor' siswa.nis %}?action=unduh" class="btn main-btn fs-5 pt-2"><ion-icon name="cloud-download-outline"></ion-icon></a></td>
                                            <td><a href="{% url 'rapor' siswa.nis %}?action=pratinjau" class="btn main-btn fs-5 pt-2"><ion-icon name="eye-outline"></ion-icon></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>                                
                            </table>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}