{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row mt-3">
        <div class="section-wrapper col-md">
            <center>
                <div class="section-header">
                    Dashboard
                </div>
                <div class="section-body">
                    <div class="row mt-4">
                        <div class="section-wrapper col-lg-3 col-11 pb-1">
                            <div class="section-header small-section">
                                Semester Aktif
                            </div>
                            <button class="btn btn-md help-icon right">
                                <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa melakukan buat, aktivasi, dan hapus semester"></ion-icon>
                            </button>
                            <div class="section-body small-section">
                                <div class="pb-3">
                                    {% if semester %}
                                        {{semester.nama}}
                                    {% else %}
                                        Belum ada semester yang aktif
                                    {% endif %}<br>

                                    {% if user.is_staftu or user.is_superuser %}
                                        <a class="btn main-btn right m-3" href="{% url 'list-semester' %}">
                                            Ganti
                                        </a>
                                    {% endif %}
                                </div>                                
                            </div>
                        </div>
                        <div class="section-wrapper col-lg-4 col pb-1">
                            <div class="section-header small-section">
                                Informasi Sekolah
                            </div>               
                            <div class="section-body small-section">
                                <div class="pb-3">                                        
                                    {{sekolah.nama}}<br>
                                    <a href="{% url 'detail-sekolah' %}" class="btn main-btn right m-3">
                                        Detail
                                    </a>
                                </div>                                
                            </div>
                        </div>                         
                    </div>
                </div>
            </center>
        </div>
    </div>
{% endblock content %}