{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'components/navbar.html' %}
    <main>
        {% include 'components/header.html' with title='Dashboard' %}
        <div class="row mt-3">
            <div class="section-wrapper pb-4 m-3 mb-5 col-md">
                <center>
                    <div class="section-header">
                        Dashboard
                    </div>
                    <div class="section-body">
                        Selamat datang {{user.nama}} <br>
                        Anda adalah seorang
                        {% if user.is_walikelas %}
                            walikelas
                        {% endif %}
                        {% if user.is_staftu %}
                            staf TU
                        {% endif %}
                        <div class="row">
                            <div class="section-wrapper col-lg-3 col-11 m-4">
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="section-header small-section">
                                            Semester Aktif
                                        </div>
                                    </div>                    
                                </div>                                
                                <div class="section-body small-section pb-4">
                                    <div class="pb-3 pt-3">
                                        {% if semester %}
                                            {{semester.tahun_mulai}}/{{semester.tahun_akhir}}<br>
                                            Semester
                                            {% if semester.semester == 1 %}
                                                Ganjil
                                            {% else %}
                                                Genap
                                            {% endif %}
                                        {% else %}
                                            Belum ada semester yang aktif.<br>
                                            Hanya Staf TU atau Admin yang bisa mengedit semester aktif.
                                        {% endif %}
                                    </div>                                
                                </div>
                            </div>
                            <div class="section-wrapper col-lg-4 col m-4">
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        <div class="section-header small-section">
                                            Informasi Sekolah
                                        </div>
                                    </div>                                    
                                </div>                                
                                <div class="section-body small-section pb-4">
                                    <div class="pb-3 pt-3">                                        
                                        {{sekolah.nama}}<br>
                                        <button class="btn main-btn right m-3" type="button" data-bs-toggle="modal" data-bs-target="#infoSekolah">
                                            Selengkapnya
                                        </button>                                        
                                          
                                          <!-- Modal -->
                                        <div class="modal fade" id="infoSekolah" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Informasi Sekolah
                                                        </h5>
                                                        <button type="button" class="btn text-white" data-bs-dismiss="modal" aria-label="Close"><ion-icon name="close-outline"></ion-icon></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="left">Nama: {{sekolah.nama}}</div><br>
                                                        <div class="left">Tingkat: {{sekolah.tingkat}}</div><br>
                                                        <div class="left">Kepala Sekolah: {{sekolah.kepsek}} - {{sekolah.nip_kepsek}}</div><br>
                                                        <div class="left">NPSN: {{sekolah.npsn}}</div><br>
                                                        <div class="left">Email: {{sekolah.email}}</div><br>
                                                        <div class="left">Alamat: {{sekolah.alamat}} {{sekolah.kota}} {{sekolah.provinsi}}</div><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>                         
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </main>
{% endblock content %}