{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="row mt-3">
    <!-- Edit Siswa Form -->
    <div class="col-md section-wrapper">
      <center>
        <div class="section-header">
          Detail Siswa
        </div>
      </center>
      <div class="row mt-5">
        <div class="col-11 col-md-4 section-wrapper">
          <center>
            <div class="section-header fs-6 p-1">
              Profil Siswa
            </div>
            <button class="btn btn-md help-icon right mt-n2">
              <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah profil siswa"></ion-icon>
            </button>
          </center>
          <ul class="section-body list-unstyled">
            <li>
              <div class="small text-primary">Nama</div>
              {{siswa.nama}}
            </li>
            <li>
              <div class="small text-primary">NIS/NISN</div>
              {{siswa.nis}}/{{siswa.nisn}}
            </li>
            <li>
              <div class="small text-primary">Kelas</div>
              {{siswa.kelas.tingkat}} {{siswa.kelas.jurusan}} {{siswa.kelas.kelas}}
            </li>
            <li>
              <div class="small text-primary">Usia</div>
              {{usia}} tahun
            </li>
          </ul>
          <a href="{% url 'profil-siswa' siswa.nis %}" class="btn main-btn">Ubah</a>
          {% include 'components/modal-form.html' with target='profilSiswa' title='Profil Lengkap Siswa' modal_form=siswa_form %}
        </div>

        <div class="col-11 col-md-4 section-wrapper">
          <center>
            <div class="section-header fs-6 p-1">
              Profil Kelas
            </div>
            <button class="btn btn-md help-icon right mt-n2">
              <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data kelas"></ion-icon>
            </button>
          </center>
          
          <ul class="section-body list-unstyled">
            <li>
              <div class="small text-primary">Tingkat</div>
              {{siswa.kelas.tingkat}}
            </li>
            <li>
              <div class="small text-primary">Jurusan</div>
              {{siswa.kelas.jurusan.nama}}
            </li>
            <li>
              <div class="small text-primary">Kelas</div>
              {{siswa.kelas.kelas}}
            </li>
            <li>
              <div class="small text-primary">Walikelas</div>
              {{siswa.kelas.walikelas}}
            </li>
          </ul>
          <a href="{% url 'detail-siswa' siswa.nis %}" class="btn main-btn">Ubah</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}