{% extends 'base.html' %}

{% block content %}
    {% include 'components/header.html' with title='Detail Informasi Sekolah' %}
    <div class="row mt-3">
        <div class="col-md section-wrapper">
            <center>
                <div class="section-header">
                    Informasi Sekolah
                </div>
                <button class="btn btn-md help-icon right">
                    <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data sekolah"></ion-icon>
                </button>
                <div class="section-body">
                    {% if user.is_staftu or user.is_superuser %}
                        {% include 'components/form.html' with form=sekolah_form submit_button='Ganti' %}
                    {% elif user.is_walikelas %}
                        {% include 'components/form.html' with form=sekolah_form submit_button='Ganti' disabled=True %}
                    {% endif %}
                </div>
            </center>
        </div>
    </div>
{% endblock content %}