{% load static %}
<script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery-price-slider.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'js/counterup/counterup-active.js' %}"></script>
<script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/scrollbar/mCustomScrollbar-active.js' %}"></script>
<script src="{% static 'js/metisMenu/metisMenu.min.js' %}"></script>
<script src="{% static 'js/metisMenu/metisMenu-active.js' %}"></script>
<script src="{% static 'js/morrisjs/raphael-min.js' %}"></script>
<script src="{% static 'js/morrisjs/morris.js' %}"></script>
<script src="{% static 'js/tab.js' %}"></script>
<script src="{% static 'js/notifications/Lobibox.js' %}"></script>
<script src="{% static 'js/icheck/icheck.min.js' %}"></script>
<script src="{% static 'js/icheck/icheck-active.js' %}"></script>
<script src="{% static 'js/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'js/chosen/chosen-active.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/sweetalert.js' %}"></script>
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>