{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-8 section-wrapper">
            <center>
                <div class="section-header">
                    Daftar Ekskul
                </div>
            </center>
            <div class="section-body">
                {% for ekskul in list_ekskul %}
                    <div class="card mt-3 bg-primary">
                        <div class="card-body">
                            <h5 class="card-title left center mt-2">
                                {{ekskul.nama}} ({{ekskul.jenis}})
                            </h5>
                            <div class="row right">
                                <div class="col-1">
                                    <a href="{% url 'hapus-ekskul' ekskul.pk %}" class="btn main-btn right" style="margin-right: -0.8rem;"><ion-icon name="trash"></ion-icon></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'components/pagination.html' with extra_param='search' extra_value=request.GET.search %}
            </div>
        </div>
        <div class="col-md-3 section-wrapper">
            <center>
                <div class="section-header">
                    Buat Ekskul
                </div>
            </center>
            <div class="section-body">
                {% include 'components/form.html' with form=ekskul_form submit_button='Buat' action='buat/' %}
            </div>
        </div>
    </div>
{% endblock content %}