:root{
    --theme-color: #b0499f;
}

body{
    color: white;
    background: var(--bg-secondary);
    margin: 0;
}

form{
    --text-color: #afafaf;
    max-width: 500px;
}

.field{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #868686;
    margin: 4rem auto 1rem;
}

.label{
    color: var(--text-color);
    font-size: 1.2rem;
}

label{
    display: block;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.field::after{
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--theme-color);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;
}

.field:focus-within{
    border-color: transparent;
}

.field:focus-within::after{
    transform: scaleX(1);
}

.label{
    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
}

.field:focus-within .label{
    transform: scale(0.8) translateY(-5rem);
}

.input:not(:placeholder-shown) + .label{
    transform: scale(0.8) translateY(-5rem);
}

.input:-webkit-autofill + .label{
    transform: scale(0.8) translateY(-5rem);
}

.button{    
    border-radius: 0%;
    font-size: 1.2rem;
    padding: 0.7rem 1.3rem;
    color: var(--text-color);
}

.button:hover, .button:focus{
    color: white;
    background-color: var(--theme-color);
    box-shadow: none !important;
}