:root{
    font-size: 16px;
    --text-primary: #a9afbbd1;
    --text-secondary: #ececec;
    --bg-primary: #181d30;
    --bg-secondary: #202c3c;
    --theme-color: #7b1fa2;
    --transition-speed: 600ms;
}

body{
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

label{
    display: block;
}

body::-webkit-scrollbar, ::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
    background: var(--theme-color);
}

form{
    width: 95%;    
    position: relative;
}

.search-bar{
    margin-top: -1.2rem;
    margin-right: 1rem;    
    width: 100%;
}

.search-icon{
    font-size: 1.3rem;
    margin-top: 0.7rem;
    margin-left: -1rem;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    border-radius: 100%;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.5);
    color: var(--text-secondary);
}

.search-icon:hover{
    background: linear-gradient(60deg, #913db4, #a350af);
    color: white;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.7);
}

.help-icon{
    color: var(--text-secondary);
    background: transparent;
    border: none;
    border-radius: 100%;
    margin-top: -1.5rem;
    margin-right: -1rem;
    font-size: 1.2rem;
}

.help-icon:hover{
    background: transparent;
    color: var(--theme-color);
}

.field{
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--text-primary);
    margin: 1rem auto 0.25rem;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: var(--text-secondary);    
    position: relative;
    z-index: 2;
}

.label{    
    position: absolute;
    transform: translateY(-1.7rem);
    transform-origin: 0%;
    transition: transform 400ms;
    color: var(--text-primary);
    z-index: 1;
}

.field::after{
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background: var(--theme-color);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 1px;
}

.field:focus-within{
    border-color: transparent;
}

.field:focus-within::after{
    transform: scaleX(1);
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label{
    transform: scale(0.7) translateY(-4.5rem);
}

.bg-primary{
    background-color: var(--bg-primary)!important;
}

.bg-secondary{
    background-color: var(--bg-secondary)!important; 
}

.bg-theme{
    background-color: var(--theme-color);
}

.text-primary{
    color: var(--text-primary) !important;
}

.text-secondary{
    color: var(--text-secondary) !important;
}

.text-theme{
    color: var(--theme-color) !important;
}

.section-wrapper{
    border-radius: 0.25rem;    
    background-color: var(--bg-secondary);    
    box-shadow: 0 0.2rem 7px rgba(0, 0, 0, 0.7);
    height: fit-content;
}

.section-header{
    background-color: var(--theme-color);
    width: 80%;
    margin-top: -1.3rem;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 0.25rem;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.5);
}

.section-body{
    width: 100%;    
    padding-top: 0.5rem;
    background: transparent;    
}

.modal-header{
    background-color: var(--theme-color)!important;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.5);
    border-radius: 0.25rem;
    border: none!important;
}

.modal-body{
    background-color: var(--bg-secondary);    
    box-shadow: 0 0.2rem 7px rgba(0, 0, 0, 0.7);
    border-radius: 0.25rem;
}

.modal-dialog{
    width: 70%;    
}

.modal-content{
    background-color: var(--bg-secondary);
}

.small-section{
    font-size: 1rem !important;
}

.left{
    float: left !important;
}

.right{
    float: right !important;
}

.main-btn{
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    color: var(--text-secondary);
    border-radius: 0.25rem !important;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.3);
}

.main-btn:hover{
    background: linear-gradient(60deg, #913db4, #a350af);
    color: var(--text-secondary);
    border-radius: 0.25rem;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.7);
}

.green-btn{
    background: linear-gradient(60deg, #2ea21f, #429e3f);
    color: var(--text-secondary);
    border-radius: 0.25rem !important;
    box-shadow: 1px 0.2rem 5px rgba(46, 162, 31, 0.7);
}

select > option{
    color: var(--text-secondary);
    background-color: var(--theme-color);
}

tr:hover td{
    color: var(--text-secondary);
    cursor: pointer;
}

.column-name:hover td{
    cursor: default;
}

tbody{
    border-color: var(--text-primary);
}

.table{
    max-height: 100vw !important;
}

.page-link{
    background-color: var(--theme-color) !important;
    border: none;
    color: var(--text-secondary);
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.5);
}

.page-link:hover{
    background-color: rgb(163, 52, 211) !important;
    color: var(--text-primary);
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.7);
}

.info{
    padding-left: 1rem;
    padding-top: 0.2rem
}

.info-label{
    font-weight: normal;
    color: var(--text-primary);
    margin-bottom: 0;
    font-size: 0.8rem;
}

.info-value{
    font-weight: 400;
    font-size: 1rem;
}

.label-pelajaran{
    float: left;
    position: relative;
    margin-top: -1.7rem;
    font-weight: 400;
    font-size: 1rem;
}

.border-100{
    border-radius: 100% !important;
}

@media only screen and (max-width: 600px){
    .search-bar{
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 600px){
    .search-bar{
        max-width: 60% !important;
    }
}