:root{
    font-size: 16px;
    --text-primary: #a9afbbd1;
    --text-secondary: #ececec;
    --bg-primary: #181d30;
    --bg-secondary: #202c3c;
    --theme-color: #7b1fa2;
    --transition-speed: 600ms;
}

body{
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

label{
    display: block;
}

body::-webkit-scrollbar, ::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
    background: var(--theme-color);
}

.search-bar{
    margin-top: -1.2rem;
    margin-right: 1rem;
}

form{
    width: 95%;    
    position: relative;
}

.field{
    width: 100%;
    position: relative;
    border-bottom: 1px solid var(--text-primary);
    margin: 1rem auto 0.25rem;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: var(--text-secondary);    
    position: relative;
    z-index: 2;
}

.label{    
    position: absolute;
    transform: translateY(-1.7rem);
    transform-origin: 0%;
    transition: transform 400ms;
    color: var(--text-primary);
    z-index: 1;
}

.field::after{
    content: "";
    position: relative;
    display: block;
    height: 2px;
    width: 100%;
    background: var(--theme-color);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 1px;
}

.field:focus-within{
    border-color: transparent;
}

.field:focus-within::after{
    transform: scaleX(1);
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label{
    transform: scale(0.7) translateY(-4.5rem);
}

.card-header{
    background-color: var(--theme-color);
    width: 80%;
    margin-top: -20px;
    font-size: 1.3rem;
}

.bg-primary{
    background-color: var(--bg-primary)!important;
}

.bg-secondary{
    background-color: var(--bg-secondary)!important; 
}

.bg-theme{
    background-color: var(--theme-color);
}

.section-wrapper{
    border-radius: 0.25rem;    
    background-color: var(--bg-secondary);    
    box-shadow: 0 0.2rem 7px rgba(0, 0, 0, 0.7);
}

.section-header{
    background-color: var(--theme-color);
    width: 80%;
    margin-top: -1.3rem;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 0.25rem;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.5);
}

.section-body{
    width: 100%;    
    padding-top: 0.5rem;
    background: transparent;
}

.main-btn{
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    color: var(--text-secondary);
    border-radius: 0.25rem;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.3);
}

.main-btn:hover{
    background: linear-gradient(60deg, #913db4, #a350af);
    color: var(--text-secondary);
    border-radius: 0.25rem;
    box-shadow: 1px 0.2rem 5px rgba(123,31,162,0.7);
}