:root{
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --theme-color: #b0499f;
    --transition-speed: 600ms;
}

main{
    margin-left: 5rem;
    padding: 1rem;
    transition: ease 300ms;
    z-index: -1;
}

.navbar{    
    position: fixed;
    background-color: var(--bg-primary);
    transition: 300ms ease;
    margin: 0;
    padding: 0;
    align-items: unset;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item{
    width: 100%;    
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);    
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
}

.icon-nav{
    color: var(--theme-color);
    transition: var(--transition-speed);
}

.nav-link .icon-nav{
    min-width: 2rem;
    height: 2rem;
    margin: 0 1.5rem;
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo .icon-nav{
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo .icon-nav{
    transform: rotate(-180deg);
}

/* Small Screens */
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
        padding-top: 1rem;
    }

    .nav-item:last-child{
        margin-left: auto;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: block;
        color: var(--theme-color);
    }

    #navbar:hover + #main{
        margin-left: 16rem;
    }

    .nav-item:last-child{
        margin-top: auto;
    }
}