{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3 flex-center">
    <!-- Edit Absen Form -->
        <div class="col-lg-7 col-md-6 col-sm-11 section-wrapper">
            <center>
                <div class="section-header">
                Absensi Siswa
                </div>
                <button class="btn btn-md help-icon right mt-n4">
                <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Walikelas yang bisa mengubah absensi siswa"></ion-icon>
                </button>
                <div class="section-body">
                {% include 'components/form.html' with form=absen_form submit_button='Update' %}
                </div>
            </center>
        </div>
        {% include 'components/siswa-navcard.html' %}
    </div>
{% endblock content %}