{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'components/breadcrumb.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="profile-info-inner">
                    <div class="profile-img">
                        <img src="{% static 'img/hariz.jpg' %}" alt="" />
                    </div>
                    <div class="profile-details-hr">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Name</b><br /> Munawar</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>Phone</b><br /> +6285156112385</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr">
                                    <p><b>Email ID</b><br /> munawarhariz@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
                                <div class="address-hr tb-sm-res-d-n dps-tb-ntn">
                                    <p><b>Department</b><br /> CSE</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="address-hr">
                                    <p><b>Address</b><br /> Lembah Teratai N 12, Ngamprah, West Bandung, West Java, Indonesia.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="address-hr">
                                    <a target='_blank' href="https://facebook.com/hariz.munawar.39/"><i class="fa fa-facebook"></i></a>
                                    <h5>Hariz Munawar</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="address-hr">
                                    <a target='_blank' href="https://www.github.com/harizMunawar/"><i class="fa fa-github"></i></a>
                                    <h5>munawarHariz</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="address-hr">
                                    <a target='_blank' href="https://www.linkedin.com/in/hariz-munawar-2247531a0/"><i class="fa fa-linkedin"></i></a>
                                    <h5>Hariz Munawar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="product-payment-inner-st res-mg-t-30 analysis-progrebar-ctn">
                    <ul id="myTabedu1" class="tab-review-design">
                        <li class="active"><a href="#description">Activity</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content custom-product-edit st-prf-pro">
                        <div class="product-tab-list tab-pane fade active in" id="description">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="review-content-section">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Full Name</b><br /> Hariz Sufyan Munawar</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Mobile</b><br /> +6285156112385</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Email</b><br /> munawarhariz@gmail.com</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                <div class="address-hr biography">
                                                    <p><b>Location</b><br /> Indonesia</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="content-profile">
                                                    <p>Hello world, my name is Hariz Sufyan Munawar. A 17 y/o teenager from Indonesia. I am a programmer mainly doing web backend programming, but I love learning and doing any programming really. Except when the programming need some kind of UI or UX design, i'm really bad at doing those things maybe because i dont have that "designer" soul, but anytime i needed to do that im gonna do it as good as i can (but please dont have any high hope). I understand and use many programming language, but Python is my most favorite and my strongest skill.</p>
                                                    <p>Lets stop talking about myself since that topic is kinda boring. So, about this project. This project first started as an assignment for my school "Final Project". The first version of this project was getting critized real hard about the UI of the app, well i kinda agree with them since i know frontend and UI/UX design are not my strongest skill. So to fix that i have to use a premade frontend template, therefore if any of you is impressed by the layout and view of this website I absolutely deserve none of the credit. This template is free so if you want to check it out I'm gonna give you link to this template <a href="https://colorlib.com/polygon/kiaalap/index.html">here</a>.</p>
                                                    <p>Back to the main topic. This website was built using my strongest framework which is <a href="https://www.djangoproject.com/">Django</a>. You can check the source code from my GitHub or if you that lazy dude who just want a direct link, you can check it out <a href="https://www.github.com/harizMunawar/REI/">here</a>. Honestly i dont know what to type in here anymore but anyway feel free to contact me at anytime have a good day (or night) :)).</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Skill Set</h2>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Web Development</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 90%;" class="progress-bar progress-red"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Database Design</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 80%;" class="progress-bar progress-yellow"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Backend Engineer</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 90%;" class="progress-bar progress-green"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>API/RESTful API</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 70%;" class="progress-bar progress-blue"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Dev Ops</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 60%;" class="progress-bar progress-red"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-skill">
                                                    <h2>Machine Learning</h2>
                                                    <div class="progress progress-mini">
                                                        <div style="width: 50%;" class="progress-bar progress-blue"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mg-b-15">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="skill-title">
                                                            <h2>Education</h2>
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ex-pro">
                                                    <ul>
                                                        <li><i class="fa fa-angle-right"></i> Primary School: Madrasah Ibtidaiyah Nurul Huda Cigugur</li>
                                                        <li><i class="fa fa-angle-right"></i> Junior High School: Cimahi Junior High School 3</li>
                                                        <li><i class="fa fa-angle-right"></i> High School: Software Engineering at Cimahi Vocational High School 3</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}