<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'include/css.html' %}
        {% block stylesheet %}
        {% endblock stylesheet %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REI - Rapor Elektronik</title>
    </head>
    <body>
    
        {% if not request.path == '/login/' %}
            {% include 'components/navbar.html' %}
        {% endif %}
        <main>
            {% if not request.path == '/login/' %}
                {% include 'components/appbar.html' %}
                <div class="content">
            {% endif %}
                    {% include 'components/alert-messages.html' %}
                    {% block content %}
                    {% endblock content %}
                </div>
        </main>
        <a href="{% url 'dashboard' %}" class="d-md-none d-sm-block float">
            <ion-icon name="home-outline" class="fs-4 pt-3"></ion-icon>
        </a>

        {% include 'include/js.html' %}
        {% block script %}
            <script>
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)})
                $(document).ready(function() {
                    $(document.body).on("click", "tr[data-href]", function () {
                        window.location.href = this.dataset.href;
                    });
                });
            </script>
        {% endblock script %}
    </body>
</html>