<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'include/css.html' %}
        {% block stylesheet %}
        {% endblock stylesheet %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REI - Rapor Elektronik</title>
    </head>
    <body>
        {% if not request.path == '/login/' %}
            {% include 'components/navbar.html' %}
        {% endif %}

        <main>
            {% include 'components/alert-messages.html' %}
            {% block content %}
            {% endblock content %}
        </main>

        {% include 'include/js.html' %}
        {% block script %}
            <script>
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)})
            </script>
        {% endblock script %}
    </body>
</html>