{% extends 'base.html' %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md section-wrapper">
            <center>
                <div class="section-header">
                    Detail Siswa
                </div>
            </center>
            <div class="row mt-5 flex-center">
                <div class="col-11 col-md-4 section-wrapper">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Profil Siswa
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah profil siswa"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        <li>
                            <div class="small text-primary">Nama</div>
                            {{siswa.nama}}
                        </li>
                        <li>
                            <div class="small text-primary">Jenis Kelamin</div>
                            {% if siswa.gender == 'P' %}Laki-laki{% endif %}
                            {% if siswa.gender == 'W' %}Perempuan{% endif %}
                        </li>
                        <li>
                            <div class="small text-primary">NIS/NISN</div>
                            {{siswa.nis}}/{{siswa.nisn}}
                        </li>
                        <li>
                            <div class="small text-primary">Kelas</div>
                            {{siswa.kelas.tingkat}} {{siswa.kelas.jurusan}} {{siswa.kelas.kelas}}
                        </li>
                        <li>
                            <div class="small text-primary">Usia</div>
                            {{usia}} tahun
                        </li>
                    </ul>
                    <a href="{% url 'profil-siswa' siswa.nis %}" class="btn main-btn right">Ubah</a>
                    {% include 'components/modal-form.html' with button_text='Selengkapnya' target='profilSiswa' title='Profil Lengkap Siswa' modal_form=siswa_form disabled=True %}
                </div>
                
                {% if kelas %}
                <div class="col-6 col-md-3 section-wrapper">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Profil Kelas
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Staf TU yang bisa mengubah data kelas"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        <li>
                            <div class="small text-primary">Tingkat</div>
                            {{kelas.tingkat}}
                        </li>
                        <li>
                            <div class="small text-primary">Jurusan</div>
                            {{kelas.jurusan.nama}}
                        </li>
                        <li>
                            <div class="small text-primary">Kelas</div>
                            {{kelas.kelas}}
                        </li>
                        <li>
                            <div class="small text-primary">Walikelas</div>
                            {{kelas.walikelas}}
                        </li>
                    </ul>
                    <a href="{% url 'detail-kelas' kelas.nama %}" class="btn main-btn right">Ubah</a>
                </div>

                <div class="col-4 col-md-3 section-wrapper">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Kehadiran
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Walikelas yang bisa mengubah kehadiran siswa"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        <li>
                            <div class="small text-primary">Sakit</div>
                            {{absensi.sakit}} hari
                        </li>
                        <li>
                            <div class="small text-primary">Izin</div>
                            {{absensi.izin}} hari
                        </li>
                        <li>
                            <div class="small text-primary">Tanpa Keterangan</div>
                            {{absensi.bolos}} hari
                        </li>
                    </ul>
                    <a href="{% url 'absen-siswa' siswa.nis %}" class="btn main-btn right">Ubah</a>
                </div>

                <div class="col-11 col-md-7 section-wrapper">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Nilai Akademik
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Walikelas yang bisa mengubah nilai akademik siswa"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        {% for id, pel, pengetahuan, keterampilan in data_akademik %}
                            <li class="pb-1">
                                {{pel}}
                                <div class="row">
                                    <div class="col-3">
                                        <div class="small text-primary">Pengetahuan</div>
                                        {{pengetahuan}}
                                    </div>
                                    <div class="col-3">
                                        <div class="small text-primary">Keterampilan</div>
                                        {{keterampilan}}
                                    </div>
                                </div>   
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'nilai-siswa' siswa.nis %}" class="btn main-btn right">Ubah</a>
                </div>

                <div class="col-11 col-md-3 section-wrapper">
                    <center>
                        <div class="section-header fs-6 p-1">
                            Ekskul Siswa
                        </div>
                    </center>
                    <button class="btn btn-md help-icon right mt-n2">
                        <ion-icon name="help-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Hanya Admin atau Walikelas yang bisa mengubah daftar dan nilai ekskul siswa"></ion-icon>
                    </button>
                    <ul class="section-body list-unstyled">
                        {% for id_nil, id_eks, ekskul, nilai in data_ekskul %}
                            <li>
                                <div class="small text-primary">{{ekskul}}</div>
                                {{nilai}}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'ekskul-siswa' siswa.nis %}" class="btn main-btn right">Ubah</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}