{% if messages %}
    {% for message in messages %}
        <div class="row">
            <div class="col-md h-100">
                {% if message.tags == 'success' %}
                <div class="alert success-alert alert-dismissible fade show" role="alert">
                {% elif message.tags == 'error' %}
                <div class="alert error-alert alert-dismissible fade show" role="alert">
                {% else %}
                <div class="alert main-alert alert-dismissible fade show" role="alert">
                {% endif %}
                    {{message}}
                    <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}