<div class="appbar">
    <ul class="appbar-nav right">
        <li class="appbar-item">
            Selamat Datang, <b>Admin</b>
            {% if user.is_superuser or user.is_walikelas and user.is_staftu %}
                (Admin)
            {% elif user.is_walikelas %}
                (Walikelas)
            {% elif user.is_staftu %}
                (Staf TU)
            {% endif %}
        </li>
        <li class="appbar-item">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <ion-icon name="chevron-down"></ion-icon>
            </a> 
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'profil' %}">Profil</a></li>
                <li><a class="dropdown-item" href="{% url 'detail-sekolah' %}">Informasi Sekolah</a></li>
                <li><a class="dropdown-item" href="#">Tentang Pengembang</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        Keluar<ion-icon name="log-out-outline" class="float-end dropdown-icon"></ion-icon>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="appbar-nav">
        <li class="appbar-item ms-3">
            <h5>{{request.session.page}}</h5>
        </li>
    </ul>
</div>