<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li><a data-toggle="collapse" data-target="#semester" href="#">Semester <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="semester" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-semester' %}">Daftar Semester</a></li>
                                    <li><a href="{% url 'buat-semester' %}">Buat Semester</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#guru" href="#">Guru <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="guru" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-guru' %}">Daftar Guru</a></li>
                                    <li><a href="{% url 'buat-guru' %}">Buat Guru</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#siswa" href="#">Siswa <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="siswa" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-siswa' %}">Daftar Siswa</a></li>
                                    <li><a href="{% url 'buat-siswa' %}">Buat Siswa</a></li>
                                </ul>
                            </li>
                            {% if sekolah.tingkat.upper == 'SMK' %}
                            <li><a data-toggle="collapse" data-target="#jurusan" href="#">Jurusan <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="jurusan" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-jurusan' %}">Daftar Jurusan</a></li>
                                    <li><a href="{% url 'buat-jurusan' %}">Buat Jurusan</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            <li><a data-toggle="collapse" data-target="#kelas" href="#">Kelas<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="kelas" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-kelas' %}">Daftar Kelas</a></li>
                                    <li><a href="{% url 'buat-kelas' %}">Buat Kelas</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#matapelajaran" href="#">Mata Pelajaran<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="matapelajaran" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-matapelajaran' %}">Daftar Mata Pelajaran</a></li>
                                    <li><a href="{% url 'buat-matapelajaran' %}">Buat Mata Pelajaran</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#ekskul" href="#">Ekskul<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                <ul id="ekskul" class="collapse dropdown-header-top">
                                    <li><a href="{% url 'list-ekskul' %}">Daftar Ekskul</a></li>
                                    <li><a href="{% url 'buat-ekskul' %}">Buat Ekskul</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>