<button type="button" class="btn main-btn" data-bs-toggle="modal" data-bs-target="#{{target}}">
    {{button_text}}
</button>
<center>
    <div class="modal fade" id="{{target}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{title}}
                    </h5>
                    <button type="button" class="btn text-white" data-bs-dismiss="modal" aria-label="Close"><ion-icon name="close-outline"></ion-icon></button>
                </div>
                <div class="modal-body">
                    {% include 'components/form.html' with form=modal_form disabled=disabled submit_button=submit_button action=action col=col %}
                </div>
            </div>
        </div>
    </div>
</center>