{% load rei_tags %}
{% load solo_tags %}
{% active_kelas as active_kelas %}
{% semester_is_active as active_semester%}
{% get_solo 'sekolah.Sekolah' as sekolah %}
<nav class="navbar" id="navbar" style="z-index: 99;">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="{% url 'dashboard' %}" class="nav-link link-logo">
                <ion-icon name="newspaper" class="icon-nav"></ion-icon>
                <span class="link-text" id="logo-text">Rapor Elektronik</span>
            </a>
        </li>
        <li class="d-none d-md-block nav-item">
            <a href="{% url 'dashboard' %}" class="nav-link">
                <ion-icon name="home-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Dashboard</span>
            </a>
        </li>

        {% if active_semester %}
            <li class="nav-item">
                <a href="{% url 'list-siswa' %}" class="nav-link">
                    <ion-icon name="list-outline" class="icon-nav"></ion-icon>
                    <span class="link-text">Daftar Siswa</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list-guru' %}" class="nav-link">
                    <ion-icon name="person-outline" class="icon-nav"></ion-icon>
                    <span class="link-text">Daftar Guru</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list-kelas' %}" class="nav-link">
                    <ion-icon name="people-outline" class="icon-nav"></ion-icon>
                    <span class="link-text">Daftar Kelas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list-matapelajaran' %}" class="nav-link">
                    <ion-icon name="book-outline" class="icon-nav"></ion-icon>
                    <span class="link-text">Daftar Matapelajaran</span>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a href="{% url 'list-ekskul' %}" class="nav-link">
                <ion-icon name="american-football-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Daftar Ekskul</span>
            </a>
        </li>
        {% if sekolah.tingkat == 'SMK' %}
        <li class="nav-item">
            <a href="{% url 'list-jurusan' %}" class="nav-link">
                <ion-icon name="telescope-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Daftar Jurusan</span>
            </a>
        </li>
        {% endif %}

        {% if user.is_superuser or user.is_staftu %}
        <li class="nav-item">
            <a href="{% url 'list-semester' %}" class="nav-link">                
                <ion-icon name="calendar-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Semester</span>
            </a>
        </li>
        {% endif %}

        {% if user.is_superuser or user.is_walikelas %}
            {% if active_kelas %}
                <li class="nav-item">
                    <a href="{% url 'detail-kelas' active_kelas.nama %}" class="nav-link">
                        <ion-icon name="archive-outline" class="icon-nav"></ion-icon>
                        <span class="link-text">Kelas Anda</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>