<nav class="navbar" id="navbar" style="z-index: 99;">
    <ul class="navbar-nav">
        <li class="logo">
            <a href="{% url 'dashboard' %}" class="nav-link link-logo">
                <ion-icon name="newspaper" class="icon-nav"></ion-icon>
                <span class="link-text" id="logo-text">Rapor Elektronik</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'profil' %}" class="nav-link">                
                <ion-icon name="person-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Profil Anda</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'detail-sekolah' %}" class="nav-link">                
                <ion-icon name="school-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Informasi Sekolah</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'list-siswa' %}" class="nav-link">
                <ion-icon name="list-outline" class="icon-nav"></ion-icon>
                <span class="link-text">List Siswa</span>
            </a>
        </li>

        {% if user.is_superuser or user.is_staftu %}
        <li class="nav-item">
            <a href="{% url 'list-semester' %}" class="nav-link">                
                <ion-icon name="calendar-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Semester</span>
            </a>
        </li>
        {% endif %}

        {% if user.is_superuser or user.is_walikelas %}
        <li class="nav-item">
            <a href="#" class="nav-link">
                <ion-icon name="people-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Status Kelas</span>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a href="#" class="nav-link">
                <ion-icon name="code-slash-outline" class="icon-nav"></ion-icon>
                <span class="link-text">About Dev</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
                <ion-icon name="log-out-outline" class="icon-nav"></ion-icon>
                <span class="link-text">Logout</span>
            </a>
        </li>
    </ul>
</nav>