{% load rei_tags %}
<div class="custom-pagination">
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?{% param_replace page=page_obj.previous_page_number %}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
                

            {% for number in number_of_pages %}
                {% if number == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" style="color:white; cursor:pointer;">{{number}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=number %}">{{number}}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?{% param_replace page=page_obj.next_page_number %}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>