{% block pagination %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous and extra_param %} 
            <!-- extra_param di instansiasi di template masing masing pas bagian include -->
                <a href="?page=1&{{extra_param}}={{extra_value}}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}&{{extra_param}}={{extra_value}}">previous</a>
            {% elif page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next and extra_param %}
                <a href="?page={{ page_obj.next_page_number }}&{{extra_param}}={{extra_value}}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}&{{extra_param}}={{extra_value}}">last &raquo;</a>
            {% elif page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock pagination %}