<ul class="pagination justify-content-center mt-3">
    {% if page_obj.has_previous and extra_param %} 
    <!-- extra_param di instansiasi di template masing masing pas bagian include -->
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{extra_param}}={{extra_value}}">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% elif page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% elif not page_obj.has_previous %}
        <li class="page-item disabled">
            <a class="page-link" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    {% for number in number_of_pages %}
        {% if page_obj.number == number and extra_param %}
            <li class="page-item disabled"><a class="page-link" href="?page={{number}}&{{extra_param}}={{extra_value}}">{{number}}</a></li>
        {% elif number == page_obj.number %}
            <li class="page-item disabled"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
        {% elif extra_param %}
            <li class="page-item"><a class="page-link" href="?page={{number}}&{{extra_param}}={{extra_value}}">{{number}}</a></li>
        {% elif not extra_param %}
            <li class="page-item"><a class="page-link" href="?page={{number}}">{{number}}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next and extra_param %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{extra_param}}={{extra_value}}">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% elif page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% elif not page_obj.has_next %}
        <li class="page-item disabled">
            <a class="page-link" aria-disabled="true">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>