<div class="pb-5">
    <div class="right">
        <form method="get" class="float-end search-bar right">
            <div class="row">
                <div class="col-9">
                    <div class="field">
                        <input type="text" class="input" id="search" name="search" placeholder=" ">
                        <label class="label" for="search">Cari...</label>
                    </div>
                </div>        
                <div class="col-1">
                    <button role="submit" class="btn btn-md search-icon"><ion-icon name="search-sharp"></ion-icon></button>
                </div>
            </div>
        </form>
    </div>
</div>