<div class="col-md-4 section-wrapper">
    <center>
        <div class="section-header">
            Profil
        </div>
    </center>
    <div class="section-body">
        <div class="info">
            <h6 class="info-label">Nama</h6>
            <h5 class="info-value">{{siswa.nama}}</h5>
        </div>
        <div class="info">
            <h6 class="info-label">NIS/NISN</h6>
            <h5 class="info-value">{{siswa.nis}}/{{siswa.nisn}}</h5>
        </div>
        <div class="info">
            <h6 class="info-label">Usia</h6>
            <h5 class="info-value">{{usia}} Tahun</h5>
        </div>
        <div class="info">
            <h6 class="info-label">Kelas</h6>
            <h5 class="info-value">{{siswa.kelas.tingkat}} {{siswa.kelas.jurusan}} {{siswa.kelas.kelas}}</h5>
        </div>
        <div class="info">
            <h6 class="info-label">Walikelas</h6>
            <h5 class="info-value">{{siswa.kelas.walikelas}}</h5>
        </div>
        <div class="row-cols-auto pt-2">
            <a href="{% url 'detail-siswa' siswa.nis %}" class="btn main-btn w-100">Kembali ke Detail Siswa</a>
        </div>
    </div>
</div>